@using System.Text.Json
@using EasyAuth.Components.Services
@inject IRequestService Service

<h2>Auth Details</h2>

@if (string.IsNullOrWhiteSpace(headers) == false)
{
    <h3>Headers</h3>
    <pre>@headers</pre>
}

@if (string.IsNullOrWhiteSpace(queries) == false)
{
    <h3>Queries</h3>
    <pre>@queries</pre>
}

@if (string.IsNullOrWhiteSpace(cookies) == false)
{
    <h3>Cookies</h3>
    <pre>@cookies</pre>
})

@if (string.IsNullOrWhiteSpace(body) == false)
{
    <h3>Body</h3>
    <pre>@body</pre>
}

@if (string.IsNullOrWhiteSpace(authMe) == false)
{
    <h3><code>/.auth/me</code></h3>
    <pre>@authMe</pre>
}

@code
{
    private string? headers;
    private string? queries;
    private string? cookies;
    private string? body;
    private string? authMe;

    protected override async Task OnInitializedAsync()
    {
        this.headers = await this.Service.GetHeaders();
        this.queries = await this.Service.GetQueries();
        this.cookies = await this.Service.GetCookies();
        this.body = await this.Service.GetPayload();
        this.authMe = await this.Service.GetAuthMe();
    }
}